td{
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: 700;

}
table{
    border-collapse: collapse;
   
}
th{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;

}
tr:nth-child(even) {background-color: #ffffff}
tr:nth-child(odd) {background-color: #ececec}
tr:hover {background-color: #ddd;}
select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
h1{
    text-align: center;
}
button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background: linear-gradient(#797979, #272727);
    color: white;
}
button:hover{
    background: linear-gradient(#b8b8b8, #727272);
    cursor: pointer;
}
button:active{
    background: #098cf7;
}
body{
    padding: 20px;
}
#tabs{
    background: linear-gradient( #283300, #eeeeee);
    width: 100%;
    padding: 10px;
}
#content{
    background: linear-gradient(#dff18c, #283300);
    width: 100%;
    padding: 10px;
}
#mainTableSection{
    width: auto;
    float:left;
}
.tabButton{
    height: 100%;
    width: auto;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(#51ff00, #272727);

}
.contestDiv:after{
    content: "";
    display: table;
    clear: both;
}
.splitScreen{
    float:left;
    overflow-y: auto;
    width: 50%;
    height:100vh;
    background: #eeeeee;
}
.sectionHeader{
    width: 100%;
    height: 100%;
    background: #eeeeee;
    color: black;
    padding: 10px;
}
.builderButton{
    height: 100%;
    width: auto;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    background: #272727;
}
html{
    background-color: #dddddd;
}
#header{
    background: #272727;
    width: 100%;
    padding: 10px;
    text-align: left;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;
}
h4{
    font-family: 'Roboto', sans-serif;
    color: black;
}
.builderSection{
    width: 100%;
    height: 100vh;
    background: #eeeeee;
    color: black;
    padding: 10px;
}
#playerMediansTable{
    width: 100%;
}
label{
    width: 50px;
    float: left;
}
.csvSection{
    width: 40%;
    background: #cefff8;
    border: 2px solid gray;
    padding: 10px;
}